
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Prestige YoYo</title>
    @Url.StyleSheet("~/Content/Prestige.css",
                    "~/Content/jquery-ui-1.9.1.custom.min.css",
                    "~/Content/ui.jqgrid.css")
    @Url.Script("~/Scripts/jquery-1.7.2.min.js",
                "~/Scripts/jquery-ui-1.8.18.min.js",
                "~/Scripts/modernizr-1.7.min.js",
                "~/Scripts/grid.locale-en.js",
                "~/Scripts/jquery.jqGrid.src.js")

    @RenderSection("head", false)
</head>
<body>
    <header>
        <div id="title">
            <h1>Prestige Yo-Yo</h1>
        </div>
        <div id="logindisplay">
            @Html.Partial("Logo")
        </div>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                <li>@Html.ActionLink("Scheduling", "Index", "Schedule")</li>
                <li>@Html.ActionLink("Management", "Index", "Management")</li>
                <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
            </ul>
        </nav>
    </header>
    <section id="main">
        @RenderBody()
    </section>
    <footer>
        <div>I am a footer...</div>
        <div>Three Guys Coding &copy; 2012</div>
    </footer>
</body>
</html>
