@using Prestige.DB.Models;
@model Tuple<IEnumerable<Schedule>, IEnumerable<Product>>

@{
    var monday = Model.Item1.Where(s => s.Day == "MONDAY");
    var tuesday = Model.Item1.Where(s => s.Day == "TUESDAY");
    var wednesday = Model.Item1.Where(s => s.Day == "WEDNESDAY");
    var thursday = Model.Item1.Where(s => s.Day == "THURSDAY");
    var friday = Model.Item1.Where(s => s.Day == "FRIDAY");
    var saturday = Model.Item1.Where(s => s.Day == "SATURDAY");
    var sunday = Model.Item1.Where(s => s.Day == "SUNDAY");

    Product lastMon = null;
    Product lastTue = null;
    Product lastWed = null;
    Product lastThur = null;
    Product lastFri = null;
    Product lastSat = null;
    Product lastSun = null;

    var colors = new string[]
    {
        "#ED1C24",
        "#F7941D",
        "#8DC73F",
        "#00A651",
        "#00AEEF",
        "#0054A6",
        "#662D91",
        "#EC008C",
        "#F26522",
        "#FFF200",
        "#39B54A",
        "#00A99D",
        "#0072BC",
        "#2E3192",
        "#92278F",
        "#ED145B",
    };
}

<style type="text/css">
    .time-col
    {
        width:70px;
        text-align:center;
    }
    .off-time
    {
        background:White;
    }
    .dropdown
    {
        margin:20px 10px 20px 10px;
    }
    .dropdown-text
    {
        width:70px;
        margin:20px 10px 5px 10px;
        text-align:right;
        display:inline-block;
    }
@{ int c = 0; }
@foreach (var guid in Model.Item2.Select(p => p.Id))
{
    @(".c" + guid.ToString() + " { background-color:" + colors[(c++ % colors.Length)] + ";color:black; }\r\n" )
}
</style>

<h2>Product Scheduling</h2>

<table style="table-layout:fixed;width:100%;">
    <tr>
        <td class="time-col"></td>
        <td style="text-align:center;"><strong>Sunday</strong></td>
        <td style="text-align:center"><strong>Monday</strong></td>
        <td style="text-align:center"><strong>Tuesday</strong></td>
        <td style="text-align:center"><strong>Wednesday</strong></td>
        <td style="text-align:center"><strong>Thursday</strong></td>
        <td style="text-align:center"><strong>Friday</strong></td>
        <td style="text-align:center"><strong>Saturday</strong></td>
        <td class="time-col" style="text-align:right"></td>
    </tr>
</table>

<table style="table-layout:fixed;width:100%;" border="1">
@for (int i = 0; i < 24; i++)
{    
    var mon = monday.FirstOrDefault(s => s.Hour == i);
    var tue = tuesday.FirstOrDefault(s => s.Hour == i);
    var wed = wednesday.FirstOrDefault(s => s.Hour == i);
    var thur = thursday.FirstOrDefault(s => s.Hour == i);
    var fri = friday.FirstOrDefault(s => s.Hour == i);
    var sat = saturday.FirstOrDefault(s => s.Hour == i);
    var sun = sunday.FirstOrDefault(s => s.Hour == i);
    
    <tr>
        <td class="time-col">@string.Format("{0:D2}:00", i)</td>
        <td class="@(sun == null ? "off-time" : "c" + sun.Product.Id.ToString())">
            @(sun != null && sun.Product != lastSun ? string.Format("{0} ({1})", sun.Product.Description, sun.Product.SKU) : "")
        </td>
        <td class="@(mon == null ? "off-time" : "c" + mon.Product.Id.ToString())">
            @(mon != null && mon.Product != lastMon ? string.Format("{0} ({1})", mon.Product.Description, mon.Product.SKU) : "")
        </td>
        <td class="@(tue == null ? "off-time" : "c" + tue.Product.Id.ToString())">
            @(tue != null && tue.Product != lastTue ? string.Format("{0} ({1})", tue.Product.Description, tue.Product.SKU) : "")
        </td>
        <td class="@(wed == null ? "off-time" : "c" + wed.Product.Id.ToString())">
            @(wed != null && wed.Product != lastWed ? string.Format("{0} ({1})", wed.Product.Description, wed.Product.SKU) : "")
        </td>
        <td class="@(thur == null ? "off-time" : "c" + thur.Product.Id.ToString())">
            @(thur != null && thur.Product != lastThur ? string.Format("{0} ({1})", thur.Product.Description, thur.Product.SKU) : "")
        </td>
        <td class="@(fri == null ? "off-time" : "c" + fri.Product.Id.ToString())">
            @(fri != null && fri.Product != lastFri ? string.Format("{0} ({1})", fri.Product.Description, fri.Product.SKU) : "")
        </td>
        <td class="@(sat == null ? "off-time" : "c" + sat.Product.Id.ToString())">
            @(sat != null && sat.Product != lastSat ? string.Format("{0} ({1})", sat.Product.Description, sat.Product.SKU) : "")
        </td>
        <td class="time-col">@string.Format("{0:D2}:00", i)</td>
    </tr>
    
    lastSun = sun == null ? null : sun.Product;
    lastMon = mon == null ? null : mon.Product;
    lastTue = tue == null ? null : tue.Product;
    lastWed = wed == null ? null : wed.Product;
    lastThur = thur == null ? null : thur.Product;
    lastFri = fri == null ? null : fri.Product;
    lastSat = sat == null ? null : sat.Product;
}
</table>
<br />

@Html.Action("Editor", "Schedule")