@using Prestige.ViewModels;
@model Prestige.ViewModels.ReportSelectModel

<!--
im thinking like
they pick their report type
they fill in the appropriate fields
start date, end date
work area, line
product type
they hit generate
and boom, its generates
-->

@Url.Script("~/Scripts/highcharts/js/highcharts.js")

<script type="text/javascript">
    $(function () {
        var defaultBackColor = $("#startDate").css("border-color");
        var defaultColor = $("#startDate").css("background-color");

        $(".datetime-picker").datetimepicker({
            stepMinute: 15
        });

        $("#workArea").change(function () {
            $("#line").load(
                "@Url.Action("LinesOptions", "Report")",
                {
                    workArea: $("#workArea").val()
                });
        });

        $("#btnGenerate").button().click(function () {
            var report = $("#reportType").val();
            var start = $("#startDate").val();
            var end = $("#endDate").val();
            var product = $("#product").val();
            var workArea = $("#workArea").val();
            var line = $("#line").val();

            var startDate = Date.parse(start);
            var endDate = Date.parse(end);

            // TODO: validate inputs
            if (!startDate) {
                $("#startDate").css("border-color", "red");
                $("#startDate").css("background-color", "#ffdddd");
                $("#startDate").attr("title", "You must enter a start date");
            } else {
                $("#startDate").css("border-color", defaultBackColor);
                $("#startDate").css("background-color", defaultColor);
                $("#startDate").attr("title", "");
            }

            if (!endDate) {
                $("#endDate").css("border-color", "red");
                $("#endDate").css("background-color", "#ffdddd");
                $("#endDate").attr("title", "You must enter an end date");
            } else {
                $("#endDate").css("border-color", defaultBackColor);
                $("#endDate").css("background-color", defaultColor);
                $("#endDate").attr("title", "");
            }

            if (startDate && endDate) {
                if (startDate < endDate) {
                    $("#startDate").css("border-color", defaultBackColor);
                    $("#startDate").css("background-color", defaultColor);
                    $("#startDate").attr("title", "");
                    $("#endDate").css("border-color", defaultBackColor);
                    $("#endDate").css("background-color", defaultColor);
                    $("#endDate").attr("title", "");

                    $("#loader").show();
                    $("#chartContainer").load(
                        "@Url.Action("GenerateReport", "Report")",
                        {
                            reportType: report,
                            startDate: start,
                            endDate: end,
                            productId: product,
                            workArea: workArea,
                            line: line
                        },
                        function () {
                            $("#loader").hide();
                        });
                } else {
                    $("#startDate").css("border-color", "red");
                    $("#startDate").css("background-color", "#ffdddd");
                    $("#startDate").attr("title", "The start date must be before the end date");
                    $("#endDate").css("border-color", "red");
                    $("#endDate").css("background-color", "#ffdddd");
                    $("#endDate").attr("title", "The end date must be before the start date");
                }
            }
        });
    });
</script>

<style type="text/css">
    .field-value
    {
        width:250px;
        margin-bottom:20px;
    }
    select.field-value
    {
        width:255px;
    }
    #fieldsContainer
    {
        border-right: 1px solid black;
        padding:30px 30px 30px 0px;
    }
</style>

<table>
<tr>
<td id="fieldsContainer">
    <div>
        <label for="reportType">Report Type:</label>
    </div>
    <div>
        <select name="reportType" id="reportType" class="field-value">
        @foreach (var report in Model.ReportTypes)
        {
            <option value="@report.Id">@report.Name</option>
        }
        </select>
    </div>

    <div>
        <label for="StartDate">Start Date:</label>
    </div>
    <div>
        <input name="StartDate" id="startDate" type="text" readonly="readonly" class="datetime-picker field-value" />
    </div>

    <div>
        <label for="EndDate">End Date:</label>
    </div>
    <div>
        <input name="EndDate" id="endDate" type="text" readonly="readonly" class="datetime-picker field-value" />
    </div>

    <div>
        <label for="product">Product:</label>
    </div>
    <div>
        <select name="product" id="product" class="field-value">
            <option value="">All</option>
        @foreach (var product in Model.Products)
        {
            <option value="@product.Id.ToString()">@product.Description - @product.Colour (@product.SKU)</option>
        }
        </select>
    </div>

    <div>
        <label for="workArea">Work Area:</label>
    </div>
    <div>
        <select name="workArea" id="workArea" class="field-value">
            <option value="">All</option>
        @foreach (var area in Model.WorkAreas)
        {
            <option value="@area">@area</option>
        }
        </select>
    </div>

    <div>
        <label for="line">Line:</label>
    </div>
    <div>
        <select name="line" id="line" class="field-value">
            <option value="">All</option>
        </select>
    </div>

    <div>
        <button id="btnGenerate">Generate</button>
        <img id="loader" alt="Loading..." src="@Url.Content("~/Content/images/ajax-loader.gif")" style="vertical-align:bottom;display:none;" />
    </div>
</td>

<td id="chartContainer" style="width:100%;">
</td>

</tr>
</table>