@using Prestige.ViewModels;
@model Prestige.ViewModels.ReportSelectModel

<!--
im thinking like
they pick their report type
they fill in the appropriate fields
start date, end date
work area, line
product type
they hit generate
and boom, its generates
-->

@Url.Script("~/Scripts/highcharts/js/highcharts.js")

<script type="text/javascript">
    $(function () {
        $(".datetime-picker").datetimepicker({
            stepMinute: 15
        });

        $("#btnGenerate").button().click(function () {
            // validate inputs, load chart...
            
            $("#loader").show();

            $("#chartContainer").load(
                "@Url.Action("DefectCategories", "Report")",
                function () {
                    $("#loader").hide();
                });
        });
    });
</script>

<style type="text/css">
    .field-value
    {
        width:250px;
        margin-bottom:20px;
    }
    select.field-value
    {
        width:255px;
    }
    #fieldsContainer
    {
        border-right: 1px solid black;
        padding:30px 30px 30px 0px;
    }
</style>

<table>
<tr>
<td id="fieldsContainer">
    <div>
        <label for="reportType">Report Type:</label>
    </div>
    <div>
        <select name="reportType" id="reportType" class="field-value">
        @foreach (var report in Model.ReportTypes)
        {
            <option value="@report.Id">@report.Name</option>
        }
        </select>
    </div>

    <div>
        <label for="StartDate">Start Date:</label>
    </div>
    <div>
        <input name="StartDate" type="text" class="datetime-picker field-value" />
    </div>

    <div>
        <label for="EndDate">End Date:</label>
    </div>
    <div>
        <input name="EndDate" id="endDate" type="text" class="datetime-picker field-value" />
    </div>

    <div>
        <label for="product">Product:</label>
    </div>
    <div>
        <select name="product" id="product" class="field-value">
            <option value="">All</option>
        @foreach (var product in Model.Products)
        {
            <option value="@product.Id.ToString()">@product.Description - @product.Colour (@product.SKU)</option>
        }
        </select>
    </div>

    <div>
        <label for="workArea">Work Area:</label>
    </div>
    <div>
        <select name="workArea" id="workArea" class="field-value">
            <option value="">All</option>
        @foreach (var area in Model.WorkAreas)
        {
            <option value="@area">@area</option>
        }
        </select>
    </div>

    <div>
        <label for="line">Line:</label>
    </div>
    <div>
        <select name="line" id="line" class="field-value">
            <option value="">All</option>
        </select>
    </div>

    <div>
        <button id="btnGenerate">Generate</button>
        <img id="loader" alt="Loading..." src="@Url.Content("~/Content/images/ajax-loader.gif")" style="vertical-align:bottom;display:none;" />
    </div>
</td>

<td id="chartContainer" style="width:100%;">
</td>

</tr>
</table>